.vs/ 
*.user 
*.suo 
bin/ 
obj/ 
*.log 
*.tmp 
*.nupkg 
*.snupkg 
packages/ 
*.DotSettings 
*.env 
Thumbs.db 
.DS_Store 
*.sln.docstates 
*.userosscache 
*.sln.iml 
.idea/
.vs/ 
*.user 
*.suo 
bin/ 
obj/ 
*.log 
*.tmp 
*.nupkg 
*.snupkg 
packages/ 
*.DotSettings 
*.env 
Thumbs.db 
.DS_Store 
*.sln.docstates 
*.userosscache 
*.sln.iml 
.idea/
